<!--TODO: -container - це такий квадратик, як і форма, який залишається незмінних розмірів
          - при доданні контенту з'являється скролбар, яким можна прокрутити-->
<!--TODO: додати функціонал (4 завдання)-->
<div class="container">
    <div class="fullname">
        <span class="data-title">Прізвище</span>
        <span class="data-list">П'ятигорець</span>
        <span class="data-list">П'ятигорець</span>
    </div>
    <div class="email">
        <span class="data-title">Ім'я</span>
        <span class="data-list">Данило</span>
        <span class="data-list">Данило</span>

    </div>
    <div class="phone">
        <span class="data-title">По батькові</span>
        <span class="data-list">Дмитрович</span>
        <span class="data-list">Дмитрович</span>
    </div>
    <div class="phone">
        <span class="data-title">Електронна пошта</span>
        <span class="data-list">pyatigorets2005@gmail.com</span>
        <span class="data-list">pyatigoreйуплгрпшйгмts2005@gmail.com</span>

    </div>
    <div class="phone">
        <span class="data-title">Телефон</span>
        <span class="data-list">+3800676901978</span>
        <span class="data-list">+3800676901978</span>
    </div>
    <div class="phone">
        <span class="data-title">Пароль</span>
        <span class="data-list">password</span>
        <span class="data-list">password</span>
    </div>
    <div class="phone">
        <span class="data-title">Дата народження</span>
        <span class="data-list">20/07/2005</span>
        <span class="data-list">20/07/2005</span>
    </div>
    <div class="phone">
        <span class="data-title">Стать</span>
        <span class="data-list">Чоловік</span>
        <span class="data-list">Чоловік</span>
    </div>
</div>