<div class="container">
    <div class="fullname">
        <span class="data-title">ПІБ</span>
        <span class="data-list"><a href="">Ring Beach 5</a></span>
        <span class="data-list"><a href="">Loxia Comfort Beach Alanya, 5</a></span>
        <span class="data-list"><a href="">Tropitel Naama Bay, 5</a></span>
        <span class="data-list"><a href="">Jaz Mirabel Beach, 5</a></span>
        <span class="data-list"><a href="">Araliya Beach Hotel, 5</a></span>
        <span class="data-list"><a href="">Gortyna Hotel, 3</a></span>
    </div>
    <div class="email">
        <span class="data-title">Електрона пошта</span>
        <span class="data-list">20 300</span>
        <span class="data-list">32 089</span>
        <span class="data-list">20 075</span>
        <span class="data-list">21 749</span>
        <span class="data-list">51 000</span>
        <span class="data-list">23 469 </span>
    </div>
    <div class="phone">
        <span class="data-title">Номер телефону</span>
        <span class="data-list">2023-10-05</span>
        <span class="data-list">2023-10-05</span>
        <span class="data-list">2023-10-05</span>
        <span class="data-list">2023-10-05</span>
        <span class="data-list">2023-10-05</span>
        <span class="data-list">2023-10-05</span>
    </div>
</div>