:root{
    --background-color:#c9dff9;
    --header-color: #206ece;
    --bar: #0073ff;
    --text: #0d2b4f;
    --lighter-text:#20589c;
    --links: #b8d5ff;
    --hover-links:#5ba5ff;
}
html{
    font-size: 150%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}
body > .signup-container {
    /*border: black solid 1px;*/
    width: 65%;
    display: flex;
    margin-top: 8%;
    border: 3px solid var(--text);
    background-color: var(--links);
    border-radius: 10px;
}
.signup-container > .photo{
    width: 40%;
}

.signup-container > .photo > img {
    width: 100%;
    margin-right: 0;
    margin-top: 4px;
    margin-left: 4px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .5);
    border-radius: 10px;
    transition: transform 0.3s;
}
.signup-container > .photo > img:hover {
    transform: scale(1.01);
    opacity: .85;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .8);
}
