body, h1, h3, p, section {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-bottom: 100px;
    color: var(--text);
    font-family: 'Noto Sans', sans-serif;
}

section {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3.4rem;
    margin: 3.8rem 0 0;
}

.under-title {
    font-size: 2.4rem;
    margin: 4.2rem 0 1rem;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.faq {
    max-height: 700px;
    margin-top: 2rem;
    margin-bottom: .4rem;
    border-bottom: 2px solid #1c1c1c;
    cursor: pointer;
}

.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: .2rem;
}

.question h3 {
    font-size: 1.2rem;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s ease;
}

.answer p {
    padding-top: .6rem;
    padding-bottom: .4rem;
    line-height: 1.6;
    font-size: 1.2rem;
}

.faq.active .answer {
    max-height: 350px;
    animation: fade 1s ease-in-out;
}

.faq.active svg {
    transform: rotate(180deg);
}

svg {
    transition: transform .5s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}