.table-container {
    width: 90%;
    margin: 60px auto;
    border: 3px solid var(--text);
    background-color: var(--links);
    border-radius: 10px;
    padding: 12px;
    color: var(--text);
    position: relative;
}
table {
    width: 100%;
}
table tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

button {
    text-decoration: none;
    min-width: 180px;
    border-radius: 28px;
    padding:6px 14px;
    margin: 12px auto 12px;
    color: var(--background-color);
    background-color: var(--text);
    font-size: 12px;
    box-shadow: 4px 4px rgba(0, 0, 0, .5);
    border: none;
    transition: all 0.3s ease;

}

button:hover {
    transform:  translateY(3px);
    box-shadow: 1px 1px rgba(0, 0, 0, .5);
}

button:active {
    transform:  scale(.99);
}

.button {
    position: absolute;
    right: 0;
    margin-top: 10px;
}