<div class="table-container">
    <div class="surname">
        <span class="surname-title">Прізвище</span>
<!--        <span class="surname-list">П'ятигорець</span>-->
    </div>
    <div class="name">
        <span class="name-title">Ім'я</span>
<!--        <span class="name-list">Данило</span>-->
    </div>
    <div class="middlename">
        <span class="middlename-title">По батькові</span>
<!--        <span class="middlename-list">Дмитрович</span>-->
    </div>
    <div class="email">
        <span class="email-title">Електронна пошта</span>
<!--        <span class="email-list">pyatigorets2005@gmail.com</span>-->

    </div>
    <div class="phone">
        <span class="phone-title">Телефон</span>
<!--        <span class="phone-list">+3800676901978</span>-->
    </div>
    <div class="password">
        <span class="password-title">Пароль</span>
<!--        <span class="password-list">password</span>-->
    </div>
    <div class="tabledate">
        <span class="tabledate-title">Дата народження</span>
<!--        <span class="tabledate-list">20/07/2005</span>-->
    </div>
    <div class="tablegender">
        <span class="tablegender-title">Стать</span>
<!--        <span class="tablegender-list">Чоловік</span>-->
    </div>
</div>
<script src="../js/lab-6/addToTable.js"></script>